@import '../utils/mixins';
@import '../utils/screens';
@import '../base/colors';

.header {
   @include flex(center, space-between, false);
   width: 100%;

   &__pin {
      img {
         width: 6.875rem; // 110px
      }

      // styles fot gsap initial state
      opacity: 0; 
      transform: translateY(-2.5rem) translateX(-2.5rem);
   }

   &__nav {
      display: none;

      @include laps {
         display: block;
         width: max-content;
         margin-right: -13vw;
         transform: translateY(-2.5rem);
         opacity: 0;

         ul {
            @include flex(center, center, false);
            gap: 2.5rem;
         }
      }
   }

   &__actions {
      position: relative;
      z-index: 1;

      // styles fot gsap initial state
      opacity: 0; 
      transform: translateY(-2.5rem) translateX(2.5rem);

      // aux + primary buttons
      & > div {
         display: none;

         @include tabs {
            @include flex(center, false, false);
            gap: 0.75rem; // 12px
         }
      }

      .ham__button {
         @include tabs {
            display: none;
         }
      }
   }

   input[type="checkbox"] {
      display: none;

      &:checked {
         & ~ aside.sidebar {
            left: 0;
         }
      }
   }
}