// n is number of stars required
@function multiple-box-shadow($n) {
   $value: '#{random(2000)}px #{random(2000)}px #FFF';

   @for $i from 2 through $n {
      $value: '#{$value}, #{random(2000)}px #{random(2000)}px #FFF';
   }

   @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.stars {
   opacity: .2;
}

#stars {
   width: 0.0625rem;
   height: 0.0625rem;
   position: absolute;
   left: 0;
   background: transparent;
   box-shadow: $shadows-small;
   animation: animStar 50s linear infinite;

   &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 0.0625rem;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
   }
}

#stars2 {
   width: 0.125rem;
   height: 0.125rem;
   background: transparent;
   box-shadow: $shadows-medium;
   animation: animStar 100s linear infinite;
   position: absolute;
   left: 0;

   &:after {
      content: " ";
      position: absolute;
      top: 125rem;
      width: 0.125rem;
      height: 0.125rem;
      background: transparent;
      box-shadow: $shadows-medium;
   }
}

#stars3 {
   width: 0.1875rem;
   height: 0.1875rem;
   background: transparent;
   box-shadow: $shadows-big;
   animation: animStar 150s linear infinite;
   position: absolute;
   left: 0;

   &:after {
      content: " ";
      position: absolute;
      top: 125rem;
      width: 0.1875rem;
      height: 0.1875rem;
      background: transparent;
      box-shadow: $shadows-big;
   }
}

@keyframes animStar {
   from {
      transform: translateY(0px);
   }

   to {
      transform: translateY(-2000px);
   }
}