@import '../../utils/mixins';
@import '../../utils/screens';
@import '../../base/colors';

.hero {
   width: 100%;
   max-width: 100%;
   overflow-x: hidden;

   &__wrapper {
      width: 100%;
      max-width: 100%;
      position: relative;
      
      &::before {
         // position: absolute;
         // content: '';
         // width: 100%;
         // height: 100%;
         // top: 0; left: 0; 
         // background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><defs><radialGradient id="gradient" cx="50%" cy="0%" r="66.73%" fx="50%" fy="0%"><stop offset="0%" stop-color="white" stop-opacity="0.12" /><stop offset="100%" stop-color="white" stop-opacity="0" /></radialGradient></defs><rect width="100%" height="100%" fill="url(%23gradient)" /></svg>');
         // opacity: .9;
      }
   }

   & > .margin {
      @include flex(center, false, column);
      padding-top: 1rem; // 16px
      padding-bottom: 0;

      @include tabs {
         padding-top: 2.0625rem; // 33px
      }
   }

   &__lights {
      position: absolute;
      top: 0;

   }

   &__text {
      @include flex(center, false, column);
      gap: 2.0625rem; // 33px
      margin-top: 5.5625rem; // 89px
      margin-bottom: 6.3125rem; // 101px
      max-width: 30rem;

      @include laps {
         max-width: 41rem; //656px
      }

      & > div {
         text-align: center;
         @include flex(center, center, column);
         gap: 1rem; // 16px
      }

      h1 {
         background: radial-gradient(circle at center, #FFF 58.52%, rgba(255, 255, 255, 0.50) 88.07%);
         font-weight: 400;
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }

      p {
         color: #6D6D6D;
      }
   }

   &__imgs {
      width: 100%;
      max-width: 23.6875rem; // 379px

      & > div {
         position: relative;
         width: 100%;
         margin: 0 auto;
      }
   }

   &__img {
      display: block;
      width: 100%;
   }

   &__tokens {
      display: inline-block;
      position: absolute;
      top: 0;
      width: 57.52%;
      animation: 3s levitate ease-in-out infinite;

      @keyframes levitate {
         0% {
            transform: translateY(0);
         }

         50% {
            transform: translateY(5rem);
         }

         100% {
            transform: translateY(0);
         }
      }
      
      &.__ton {
         translate: -50% 0;
         top: 8.5rem; // 136px
      }

      &.__bitcoin {
         translate: 120% 0;
         top: 15rem; // 240px
         animation-delay: .3s;

         @include tabs {
            // translate: 100% 0;
         }
      }
   }
}