@import '../../utils/mixins';
@import '../../utils/screens';
@import '../../base/colors';


.steps {
   &__wrapper {

   }

   & > .margin {

   }

   &__head {
      text-align: center;
      @include flex(center, center, column);
      gap: 1rem; // 1 rem

      p {
         color: #6D6D6D;
         max-width: 18.75rem;

         @include tabs {
            max-width: unset;
         }
      }
   }

   &__top {
      @include flex(stretch, false, column);
      gap: 3.75rem; // 76px
      padding-bottom: 3.75rem; // 60px

      @include laps {
         gap: 4.75rem; // 76px
         padding-bottom: 7.5rem;  // 120px
      }
   }
   
   &__body {
      @include flex(stretch, false, column);
      gap: 3rem; // 48px
   }

   &__banner {
      position: relative;

      img {
         &.banner {
            width: 100%;
            display: block;
            background: #ffc315;
            border-radius: 1.5rem; //24px
         }
      }
   }

   &__token {
      position: absolute;
      display: block;
      aspect-ratio: 1 / 1;

      &.polygon {
         top: 30%;
         left: 1.5%;
         width: 14.45vw;
      }

      &.avalanche {
         top: 33%;
         left: 23%;
         width: 20.23vw;
      }

      &.polkadot {
         top: 38%;
         right: 27%;
         width: 17.73vw;
      }

      &.cardano {
         top: 20%;
         right: 3%;
         width: 18.43vw;
      }
      animation: 3s levitate2 ease-in-out infinite;

      
      @keyframes levitate2 {
         0% {
            transform: translateY(0);
         }

         50% {
            transform: translateY(2.5rem);
         }

         100% {
            transform: translateY(0);
         }
      }

      @include laps {
         @keyframes levitate2 {
            0% {
               transform: translateY(0);
            }

            50% {
               transform: translateY(3.75rem);
            }

            100% {
               transform: translateY(0);
            }
         }
      }
      

      @for $i from 1 through 4 {
         &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.2 + random(10) * 0.1}s;
         }
      }
   }

   &__text {
      @include flex(center, false, column);
      gap: 1rem; // 16px

      @include laps {
         flex-direction: row;
      }
   }

   &__divider {
      width: 0%;
      border-bottom: 0.0625rem solid #454545;// 1px
   }

   &__bottom {
      padding: 3.75rem 0rem; // 60px
      @include flex(center, false, column);
      gap: 3.75rem; // 60px


      @include tabs {
         align-items: start;
      }

      @include laps {
         padding-top: 7.5rem 0rem;  // 120px
      }

      div.heading-4 {
         max-width: 30.75rem; // 49px
         text-align: center;

         @include tabs {
            text-align: left
         }
      }
   }

   &__bottomHeading {
      display: inline-block;
   }

   &__stats {
      width: 100%;
      @include flex(center, center, column);
      gap: 50px;

      @include tabs {
         flex-direction: row;
         gap: 0;
         justify-content: space-around;
      }
      
      @include laps {
         justify-content: space-evenly;
      }
   }
}

.step {
   max-width: 21.875rem; // 350px
   text-align: center;
   @include flex(false, false, column);
   gap: 0.625rem; // 10px


   @include tabs {
      max-width: 31.25rem; // 500px
   }

   @include laps {
      max-width: unset;
      text-align: start;
   }

   p {
      color: #6D6D6D;
   }
}

.stat {
   text-align: center;
   @include flex(center, center, column);
   gap: 0.75rem; //12px

   @include laps {
      width: 100%;
   }
   

   span {
      display: inline-block;
   }

   &__top {
      font-size: 4.5rem; // 88px
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      background: radial-gradient(circle at center, #FFF 58.52%, rgba(255, 255, 255, 0.50) 88.07%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include laps {
         font-size: 5.5rem; // 88px
      }
   }

   &__bttm {
      color: #6D6D6D;
   }

   &.__st1 {
     
   }
}
